.advantages__slogan{
  font-size: 24px;
  color: @font-blue;
  line-height: 28.8px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54.47px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68.09px;
  }
}

.slogan1 {
  width: 305px;
  height: 45px;
  padding-left: 10px;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    width: 800px;
    height: 139px;
    margin-top: 5px;
    margin-left: -75px;
  }

  @media (min-width: @desktop-width) {

  }
}

.slogan2 {
  width: 210px;
  height: 20px;
  padding-left: 55px;
  padding-top: 20px;
  padding-bottom: 105px;

  @media (min-width: @tablet-width) {
    width: 600px;
    height: 139px;
    margin-top: -145px;
    margin-left: -20px;
  }

  @media (min-width: @desktop-width) {

  }
}

.advantages__img {
  width: 157px;
  height: 320px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 547px;
  }

  @media (min-width: @desktop-width) {
    width: 268px;
    height: 547px;
  }
}

.advantages__container {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  text-align: center;
  font-size: 24px;
  background-color: @grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }
}

.advantages__img-container {
  order: 1;

  @media (min-width: @tablet-width) {
    order: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__title {
  padding-bottom: -30px;
  font-size: 18px;
  color: @black;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-top: -70px;
  }


  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__title2 {
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
  }

}

.advantages__title3 {
  padding-top: 100px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @font-blue;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__description1 {
  padding-top: -40px;

  @media (min-width: @tablet-width) {
    margin-top: -5px;
    width: 360;
    height: 58px;
  }
}

.advantages__description2 {
  padding-top: -80px;

  @media (min-width: @tablet-width) {
    margin-top: -5px;
    width: 330px;
    height: 58px;
  }
}

.advantages__description3 {
  padding-top: -50px;
  margin-bottom: 290px;

  @media (min-width: @tablet-width) {
    margin-top: -20px;
    width: 300px;
    height: 58px;
    margin-bottom: 50px;
  }
}
