.form-contacts__item {
  color: @red;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 43px;
  margin-top: 29px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form-contacts input {
  width: 276px;
  height: 59px;
  border: 2px solid @table;
  margin-top: 17px;
  margin-left: 22px;
}

.form-contacts__fieldset {
  border: none;

  @media (min-width: @tablet-width) {
    margin: 100px;
    border: 2px solid @table;
    border-radius: 1px;
    width: 616px;
  }
}

.form-contacts__title {
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @red;
    text-align: center;
  }
}
