.photo-catalog__title {
  font-size: 24px;
  line-height: 32.68px;
  font-weight: 300;
  color: @white;
  text-align: center;
}

.photo-catalog__text {
  font-size: 14px;
  line-height: 30px;
  color: @font-blue;
  text-align: center;
}

.photo-catalog__list {
  list-style: none;
}

.photo-catalog__timeago {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @font-blue;
}

.photo-catalog__likes {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: @red;
}

.photo-catalog__background {
  background-color: @grey;
  padding: 26px 17px;
  width: 280px;
}
