.questionary__item {
  color: @red;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 43px;
  margin-top: 29px;
  margin-bottom: 20px;
}

.questionary input {
  width: 276px;
  height: 59px;
  border: 2px solid @table;
  border-radius: 1px;
}
