.radio {
  background-color: @grey;
  text-align: left;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    order: -1;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    width: 431px;
  }
}

.radio__fieldset {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @table;
    border-radius: 1px;
    width: 616px;
  }

  @media (min-width: @desktop-width) {
    width: 431px;
  }
}

.radio__title {
  font-size: 14px;
  line-height: 18px;
  color: @red;
  text-align: center;
  text-transform: uppercase;


  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 30px;
  }
}

.radio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio__item {
  font-size: 18px;
  line-height: 30px;
  color: @font-blue;
}

.radio__list li {
  padding-bottom: 62px;
}
