.yourpost__title {
  font-size: 14px;
  line-height: 30px;
  color: @font-blue;
  text-align: center;
}

.yourpost__wrapper {
  text-align: center;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.yourpost__topost {
  width: 280px;
  height: 55px;
  border: 3px solid @red;
  box-sizing: border-box;
  border-radius: 30px;
  color: @red;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.yourpost__tocancel {
  opacity: 0.1;
  width: 280px;
  height: 55px;
  border: 3px solid @font-blue;
  box-sizing: border-box;
  border-radius: 30px;
  color: @font-blue;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.yourpost__buttons {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}
