img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  min-width: 320px;
}

.page__container {
  width: auto;
  padding: 0 22px;

  @media (min-width: @desktop-width) {
    padding: 0 132px;
    width: 960px;
  }
}

.page-catalog-main {
  font-size: 14px;
  line-height: 24px;
  color: @font-blue;
  margin: 0;
  padding: 0;
}
